---
import astroLogo from '../assets/astro.svg';
---


<div id="container">
	<h1 class="text-blue-950">PRIMER PAGINA ASTRO PORTAFOLIO PATRICK DURAND</h1>
	<h2 class="text-blue-950">https://patrick-portafolio.netlify.app/</h2>
	<img src={astroLogo.src} alt="" srcset="">
</div>
